{
  "openapi": "3.1.0",
  "info": {
    "title": "PBB - Hub Relay Server API",
    "version": "1.1.0",
    "description": "API reference for the PBB Hub Relay Server. Local application endpoints use X-Relay-Key. Hub-to-hub endpoints use X-Relay-Hub-Key and may also require protocol/version or signature headers depending on relay configuration. Message audiences are declared with targets[]: each target id is a final destination HQ hub id, and systems[] lists the application systems that should consume the message at that hub. Transport next hops are computed by relay topology and are not supplied by local clients."
  },
  "servers": [
    {
      "url": "https://relay.pbb.ph",
      "description": "Production"
    },
    {
      "url": "http://localhost:8000",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "Shell"
    },
    {
      "name": "Auth"
    },
    {
      "name": "Diagnostics"
    },
    {
      "name": "Messages"
    },
    {
      "name": "Deliveries"
    },
    {
      "name": "Inbox"
    },
    {
      "name": "Handlers"
    },
    {
      "name": "Handler Dispatches"
    },
    {
      "name": "Attachments"
    },
    {
      "name": "Uploads"
    },
    {
      "name": "Hub Receive"
    },
    {
      "name": "Installer"
    },
    {
      "name": "Operator Admin"
    }
  ],
  "components": {
    "securitySchemes": {
      "LaravelSessionCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "laravel_session",
        "description": "Browser session cookie used by the operator UI. API clients should not use this for relay integration."
      },
      "CsrfHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-CSRF-TOKEN",
        "description": "Laravel CSRF token required for browser/operator form actions that mutate state."
      },
      "RelayClientKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Relay-Key",
        "description": "Local application API key. Send the registered client token in X-Relay-Key when calling local client endpoints such as POST /api/v1/messages."
      },
      "RelayHubKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Relay-Hub-Key",
        "description": "Shared or registry-derived hub credential used for hub-to-hub relay receive/upload calls."
      },
      "RelayProtocolVersion": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Relay-Protocol-Version",
        "description": "Optional relay protocol version header. Omit to use the server default; unsupported versions return 406 or 426."
      }
    },
    "schemas": {
      "HopTraceEntry": {
        "type": "object",
        "required": [
          "hub_id",
          "event",
          "at"
        ],
        "properties": {
          "hub_id": {
            "type": "string",
            "description": "HQ numeric hub identifier for the relay that appended this hop trace entry."
          },
          "event": {
            "type": "string",
            "description": "Relay-side event recorded for this hop, such as submitted or received."
          },
          "at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "LocalMessageSubmitRequest": {
        "type": "object",
        "required": [
          "source_system",
          "targets",
          "message_type",
          "payload"
        ],
        "properties": {
          "source_system": {
            "type": "string",
            "description": "System code of the application that produced the message, for example sitrep.app.",
            "example": "sitrep.app"
          },
          "message_type": {
            "type": "string",
            "description": "Domain-qualified message type. Use a stable dotted name so handlers can match patterns such as sitrep.*.",
            "example": "sitrep.record"
          },
          "payload_format": {
            "type": "string",
            "enum": [
              "json",
              "file",
              "image",
              "binary"
            ],
            "description": "Encoding/category of payload content. Use json for normal structured messages; file/image/binary when coordinating attachment upload flows.",
            "default": "json",
            "example": "json"
          },
          "payload_version": {
            "type": "string",
            "description": "Version of the payload contract defined by the source system.",
            "default": "1.0",
            "example": "1.0"
          },
          "reference_type": {
            "type": "string",
            "description": "Optional source-domain reference category, such as incident, case, or assessment.",
            "example": "incident"
          },
          "reference_id": {
            "type": "string",
            "description": "Optional source-domain identifier that lets consumers correlate this relay message to an upstream record.",
            "example": "INC-2026-000123"
          },
          "payload": {
            "type": "object",
            "additionalProperties": true,
            "description": "Application-defined JSON payload. The relay stores and forwards this value without interpreting domain fields.",
            "example": {
              "incident_id": 123,
              "severity": "high",
              "description": "Flooding reported near riverside barangay."
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Optional routing/search labels supplied by the sender.",
            "example": [
              "flood",
              "urgent"
            ]
          },
          "priority": {
            "type": "string",
            "enum": [
              "low",
              "normal",
              "high",
              "urgent"
            ],
            "description": "Sender priority hint used for queueing and operator visibility.",
            "default": "normal",
            "example": "high"
          },
          "correlation_id": {
            "type": "string",
            "description": "Optional id shared across related messages or retries for tracing.",
            "example": "corr-2026-05-31-001"
          },
          "attachments_count": {
            "type": "integer",
            "description": "Number of attachments expected for this message. Use 0 when there are none.",
            "default": 0,
            "example": 0
          },
          "occurred_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the source event happened. Defaults to receive/submission time when omitted.",
            "example": "2026-05-31T08:30:00Z"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the relay envelope was created by the sending relay. Usually supplied only in hub-to-hub calls.",
            "example": "2026-05-31T08:31:00Z"
          },
          "content_hash": {
            "type": "string",
            "description": "Optional SHA-256 hash for idempotency/audit. Relay can calculate it when omitted by local clients.",
            "example": "4f9d9f9f0b0d9a0f5c6f3d1e6e9a0b2c3d4e5f67890123456789abcdefabcdef"
          },
          "targets": {
            "type": "array",
            "minItems": 1,
            "description": "Sender-declared final destination hubs and consuming systems. Relay computes next-hop deliveries from topology while preserving this audience.",
            "items": {
              "$ref": "#/components/schemas/MessageTarget"
            },
            "example": [
              {
                "id": "15",
                "systems": [
                  "city-eoc.app"
                ]
              },
              {
                "id": "20",
                "systems": [
                  "province-eoc.app"
                ]
              }
            ]
          }
        },
        "description": "Request body for a local application submitting a new relay message. The client declares the final audience in targets[]; relay fills origin/source hub identity and computes transport deliveries.",
        "examples": [
          {
            "source_system": "sitrep.app",
            "targets": [
              {
                "id": "15",
                "systems": [
                  "city-eoc.app"
                ]
              },
              {
                "id": "20",
                "systems": [
                  "province-eoc.app"
                ]
              }
            ],
            "message_type": "sitrep.record",
            "payload_format": "json",
            "payload_version": "1.0",
            "payload": {
              "incident_id": 123,
              "severity": "high",
              "description": "Flooding reported near riverside barangay."
            },
            "priority": "high"
          }
        ]
      },
      "RelayHopEnvelope": {
        "type": "object",
        "required": [
          "relay_id",
          "origin_hq_hub_id",
          "source_hub_id",
          "source_system",
          "target_hq_hub_id",
          "targets",
          "message_type",
          "payload"
        ],
        "properties": {
          "relay_id": {
            "type": "string",
            "description": "Stable relay message id, normally a ULID. Reused across all hops for idempotency.",
            "example": "01ARZ3NDEKTSV4RRFFQ69G5FAV"
          },
          "origin_hq_hub_id": {
            "type": "string",
            "description": "HQ hub id where the message was originally submitted.",
            "example": "10"
          },
          "source_hub_id": {
            "type": "string",
            "description": "HQ hub id of the relay sending this specific hop. This changes as the message moves upstream/downstream.",
            "example": "11"
          },
          "source_system": {
            "type": "string",
            "description": "System code of the application that produced the message, for example sitrep.app.",
            "example": "sitrep.app"
          },
          "target_hq_hub_id": {
            "type": "string",
            "description": "Immediate next-hop HQ hub id for this transport request. This is not the full audience; see targets[].",
            "example": "15"
          },
          "hop_trace": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HopTraceEntry"
            },
            "description": "Ordered list of relay hops already visited. Receivers append themselves and reject loops.",
            "example": [
              {
                "hub_id": "10",
                "event": "submitted",
                "at": "2026-05-31T08:30:00Z"
              },
              {
                "hub_id": "11",
                "event": "received",
                "at": "2026-05-31T08:30:05Z"
              }
            ]
          },
          "message_type": {
            "type": "string",
            "description": "Domain-qualified message type. Use a stable dotted name so handlers can match patterns such as sitrep.*.",
            "example": "sitrep.record"
          },
          "payload_format": {
            "type": "string",
            "enum": [
              "json",
              "file",
              "image",
              "binary"
            ],
            "description": "Encoding/category of payload content. Use json for normal structured messages; file/image/binary when coordinating attachment upload flows.",
            "default": "json",
            "example": "json"
          },
          "payload_version": {
            "type": "string",
            "description": "Version of the payload contract defined by the source system.",
            "default": "1.0",
            "example": "1.0"
          },
          "reference_type": {
            "type": "string",
            "description": "Optional source-domain reference category, such as incident, case, or assessment.",
            "example": "incident"
          },
          "reference_id": {
            "type": "string",
            "description": "Optional source-domain identifier that lets consumers correlate this relay message to an upstream record.",
            "example": "INC-2026-000123"
          },
          "payload": {
            "type": "object",
            "additionalProperties": true,
            "description": "Application-defined JSON payload. The relay stores and forwards this value without interpreting domain fields.",
            "example": {
              "incident_id": 123,
              "severity": "high",
              "description": "Flooding reported near riverside barangay."
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Optional routing/search labels supplied by the sender.",
            "example": [
              "flood",
              "urgent"
            ]
          },
          "priority": {
            "type": "string",
            "enum": [
              "low",
              "normal",
              "high",
              "urgent"
            ],
            "description": "Sender priority hint used for queueing and operator visibility.",
            "default": "normal",
            "example": "high"
          },
          "correlation_id": {
            "type": "string",
            "description": "Optional id shared across related messages or retries for tracing.",
            "example": "corr-2026-05-31-001"
          },
          "attachments_count": {
            "type": "integer",
            "description": "Number of attachments expected for this message. Use 0 when there are none.",
            "default": 0,
            "example": 0
          },
          "occurred_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the source event happened. Defaults to receive/submission time when omitted.",
            "example": "2026-05-31T08:30:00Z"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the relay envelope was created by the sending relay. Usually supplied only in hub-to-hub calls.",
            "example": "2026-05-31T08:31:00Z"
          },
          "content_hash": {
            "type": "string",
            "description": "Optional SHA-256 hash for idempotency/audit. Relay can calculate it when omitted by local clients.",
            "example": "4f9d9f9f0b0d9a0f5c6f3d1e6e9a0b2c3d4e5f67890123456789abcdefabcdef"
          },
          "targets": {
            "type": "array",
            "minItems": 1,
            "description": "Sender-declared final destination hubs and consuming systems preserved across hops.",
            "items": {
              "$ref": "#/components/schemas/MessageTarget"
            },
            "example": [
              {
                "id": "15",
                "systems": [
                  "city-eoc.app"
                ]
              },
              {
                "id": "20",
                "systems": [
                  "province-eoc.app"
                ]
              }
            ]
          }
        },
        "description": "Hub-to-hub transport envelope. target_hq_hub_id names this immediate receive hop; targets[] preserves the final sender-declared audience.",
        "examples": [
          {
            "relay_id": "01ARZ3NDEKTSV4RRFFQ69G5FAV",
            "origin_hq_hub_id": "10",
            "source_hub_id": "11",
            "source_system": "sitrep.app",
            "target_hq_hub_id": "15",
            "targets": [
              {
                "id": "15",
                "systems": [
                  "city-eoc.app"
                ]
              },
              {
                "id": "20",
                "systems": [
                  "province-eoc.app"
                ]
              }
            ],
            "hop_trace": [
              {
                "hub_id": "10",
                "event": "submitted",
                "at": "2026-05-31T08:30:00Z"
              }
            ],
            "message_type": "sitrep.record",
            "payload_format": "json",
            "payload_version": "1.0",
            "payload": {
              "incident_id": 123
            },
            "priority": "high",
            "occurred_at": "2026-05-31T08:30:00Z"
          }
        ]
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total records matching the request as reported by this endpoint.",
            "example": 42
          },
          "per_page": {
            "type": "integer",
            "description": "Maximum records returned per page.",
            "example": 25
          },
          "current_page": {
            "type": "integer",
            "description": "Current page number.",
            "example": 1
          },
          "last_page": {
            "type": "integer",
            "description": "Last available page number.",
            "example": 2
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "BasicError": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "error": {
            "type": "string"
          }
        }
      },
      "AttachmentInitRequest": {
        "type": "object",
        "required": [
          "attachment_type",
          "attachment_name",
          "mime_type",
          "size_bytes"
        ],
        "properties": {
          "attachment_type": {
            "type": "string",
            "enum": [
              "file",
              "image",
              "binary"
            ]
          },
          "attachment_name": {
            "type": "string"
          },
          "mime_type": {
            "type": "string"
          },
          "size_bytes": {
            "type": "integer"
          },
          "checksum": {
            "type": "string"
          },
          "chunk_size_bytes": {
            "type": "integer"
          },
          "target_hub_id": {
            "type": "string"
          }
        }
      },
      "UploadChunkRequest": {
        "type": "object",
        "required": [
          "chunk_index",
          "total_chunks"
        ],
        "properties": {
          "chunk_index": {
            "type": "integer"
          },
          "total_chunks": {
            "type": "integer"
          },
          "chunk_checksum": {
            "type": "string"
          }
        }
      },
      "UploadCompleteRequest": {
        "type": "object",
        "required": [
          "total_chunks"
        ],
        "properties": {
          "total_chunks": {
            "type": "integer"
          },
          "final_checksum": {
            "type": "string"
          }
        }
      },
      "HandlerRequest": {
        "type": "object",
        "required": [
          "name",
          "endpoint_url"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "endpoint_url": {
            "type": "string",
            "format": "uri"
          },
          "message_type_pattern": {
            "type": "string"
          },
          "source_system": {
            "type": "string"
          },
          "source_hub_id": {
            "type": "string"
          },
          "auth_token": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          }
        }
      },
      "HubUploadInitRequest": {
        "type": "object",
        "required": [
          "relay_id",
          "source_hub_id",
          "attachment_type",
          "attachment_name",
          "mime_type",
          "size_bytes"
        ],
        "properties": {
          "relay_id": {
            "type": "string"
          },
          "source_hub_id": {
            "type": "string"
          },
          "target_hub_id": {
            "type": "string"
          },
          "attachment_type": {
            "type": "string",
            "enum": [
              "file",
              "image",
              "binary"
            ]
          },
          "attachment_name": {
            "type": "string"
          },
          "mime_type": {
            "type": "string"
          },
          "size_bytes": {
            "type": "integer"
          },
          "checksum": {
            "type": "string"
          },
          "chunk_size_bytes": {
            "type": "integer"
          }
        }
      },
      "BatchReceiveRequest": {
        "type": "object",
        "required": [
          "messages"
        ],
        "properties": {
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RelayHopEnvelope"
            }
          }
        }
      },
      "RelayAccount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "role": {
            "type": "string"
          }
        }
      },
      "RelayLoginRequest": {
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "format": "password"
          }
        }
      },
      "RelayProfileUpdateRequest": {
        "type": "object",
        "required": [
          "name",
          "email"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "RelayPasswordUpdateRequest": {
        "type": "object",
        "required": [
          "current_password",
          "password",
          "password_confirmation"
        ],
        "properties": {
          "current_password": {
            "type": "string",
            "format": "password"
          },
          "password": {
            "type": "string",
            "format": "password"
          },
          "password_confirmation": {
            "type": "string",
            "format": "password"
          }
        }
      },
      "RelayCurrentUserPayload": {
        "type": "object",
        "properties": {
          "authenticated": {
            "type": "boolean"
          },
          "account": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/RelayAccount"
              },
              {
                "type": "null"
              }
            ]
          },
          "csrf_token": {
            "type": "string"
          }
        }
      },
      "RelayCurrentUserResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/RelayCurrentUserPayload"
          },
          "meta": {
            "type": [
              "object",
              "null"
            ]
          },
          "error": {
            "type": [
              "object",
              "null"
            ]
          }
        }
      },
      "RelaySessionPingPayload": {
        "type": "object",
        "properties": {
          "csrf_token": {
            "type": "string"
          },
          "touched_at": {
            "type": "string",
            "format": "date-time"
          },
          "session_lifetime_minutes": {
            "type": "integer"
          }
        }
      },
      "RelaySessionPingResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/RelaySessionPingPayload"
          },
          "meta": {
            "type": [
              "object",
              "null"
            ]
          },
          "error": {
            "type": [
              "object",
              "null"
            ]
          }
        }
      },
      "RelayStatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "hub_id": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "version": {
            "type": "object",
            "additionalProperties": true
          },
          "health": {
            "type": "object",
            "additionalProperties": true
          },
          "queue": {
            "type": "object",
            "additionalProperties": true
          },
          "inbox": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "BootstrapPayload": {
        "type": "object",
        "properties": {
          "app": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "page": {
                "type": "string"
              }
            }
          },
          "auth": {
            "type": "object",
            "properties": {
              "authenticated": {
                "type": "boolean"
              },
              "account": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/RelayAccount"
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            }
          },
          "security": {
            "type": "object",
            "properties": {
              "csrfToken": {
                "type": "string"
              },
              "sessionLifetimeMinutes": {
                "type": "integer"
              },
              "keepaliveThresholdSeconds": {
                "type": "integer"
              }
            }
          },
          "settings": {
            "type": "object",
            "properties": {
              "bootstrapUrl": {
                "type": "string"
              },
              "csrfTokenUrl": {
                "type": "string"
              },
              "sessionPingUrl": {
                "type": "string"
              }
            }
          }
        }
      },
      "ErrorEnvelope": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "string"
          }
        }
      },
      "RouteNotFoundError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Not Found"
          }
        }
      },
      "UploadStatus": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "upload_session_id": {
            "type": "string"
          },
          "attachment_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "transfer_status": {
            "type": "string",
            "enum": [
              "initializing",
              "uploading",
              "assembling",
              "completed",
              "failed"
            ]
          },
          "transfer_size_bytes": {
            "type": "integer"
          },
          "transferred_bytes": {
            "type": "integer"
          },
          "transfer_progress_percent": {
            "type": "number"
          },
          "current_chunk_index": {
            "type": "integer"
          },
          "total_chunks": {
            "type": [
              "integer",
              "null"
            ]
          },
          "last_activity_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "completed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "attachment_name": {
            "type": "string"
          },
          "mime_type": {
            "type": "string"
          }
        }
      },
      "UploadChunkResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "accepted": {
            "type": "boolean"
          },
          "upload_session_id": {
            "type": "string"
          },
          "received_chunk_index": {
            "type": "integer"
          },
          "transferred_bytes": {
            "type": "integer"
          },
          "transfer_progress_percent": {
            "type": "number"
          },
          "next_chunk_index": {
            "type": "integer"
          }
        }
      },
      "UploadCompleteResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "assembled": {
            "type": "boolean"
          },
          "verified": {
            "type": "boolean"
          },
          "attachment_id": {
            "type": "string"
          },
          "upload_session_id": {
            "type": "string"
          },
          "receipt_status": {
            "type": "string",
            "enum": [
              "stored",
              "received"
            ]
          }
        }
      },
      "AttachmentInitResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "accepted": {
            "type": "boolean"
          },
          "attachment_id": {
            "type": "string"
          },
          "upload_session_id": {
            "type": "string"
          },
          "chunk_size_bytes": {
            "type": "integer"
          },
          "next_chunk_index": {
            "type": "integer"
          }
        }
      },
      "HubReceiveResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "True when the relay accepted or idempotently recognized the message.",
            "example": true
          },
          "status": {
            "type": "string",
            "enum": [
              "received",
              "processed",
              "duplicate",
              "rejected",
              "undeliverable"
            ],
            "description": "Receive outcome. duplicate means relay_id was already recorded; undeliverable means no local client matched and no forwarding path remained.",
            "example": "received"
          },
          "relay_id": {
            "type": "string",
            "description": "Relay id from the accepted envelope.",
            "example": "01ARZ3NDEKTSV4RRFFQ69G5FAV"
          },
          "message": {
            "type": "string",
            "description": "Human-readable receive result.",
            "example": "Message received and acknowledged"
          }
        }
      },
      "BatchReceiveResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "relay_id": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "success": {
                  "type": "boolean"
                },
                "status": {
                  "type": "string"
                },
                "error": {
                  "type": "string"
                }
              }
            }
          },
          "received_count": {
            "type": "integer"
          }
        }
      },
      "MessageTarget": {
        "type": "object",
        "required": [
          "id",
          "systems"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Final destination HQ hub id. Intermediate relays forward toward this id even when they are not a target.",
            "example": "15"
          },
          "systems": {
            "type": "array",
            "minItems": 1,
            "description": "Application system codes that should consume the message when it reaches this target hub. A relay only dispatches to local handlers for systems listed under its own target id.",
            "items": {
              "type": "string"
            },
            "example": [
              "city-eoc.app"
            ]
          }
        },
        "description": "One final audience entry declared by the sender. id identifies the destination hub; systems identifies consuming applications at that hub."
      }
    }
  },
  "paths": {
    "/api/bootstrap": {
      "get": {
        "tags": [
          "Shell"
        ],
        "summary": "Get application bootstrap payload",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Page number for paginated results. Starts at 1.",
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Bootstrap payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BootstrapPayload"
                }
              }
            }
          }
        }
      }
    },
    "/api/csrf-token": {
      "get": {
        "tags": [
          "Shell"
        ],
        "summary": "Refresh CSRF token",
        "responses": {
          "200": {
            "description": "CSRF token payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "csrfToken": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Sign in a relay operator through the shared browser shell",
        "description": "Session-authenticated login endpoint used by the public home modal and re-auth flows.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RelayLoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authenticated session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelayCurrentUserResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation or credential failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/user": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Get current relay shell user state",
        "description": "Returns the authenticated relay operator account when a session exists, or an unauthenticated shell payload otherwise.",
        "responses": {
          "200": {
            "description": "Current user/session payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelayCurrentUserResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Update current relay operator profile",
        "security": [
          {
            "LaravelSessionCookie": [],
            "CsrfHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelayProfileUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated"
          },
          "422": {
            "description": "Validation failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/user/password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Update current relay operator password",
        "security": [
          {
            "LaravelSessionCookie": [],
            "CsrfHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelayPasswordUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password updated"
          },
          "422": {
            "description": "Validation failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Log out the current relay operator session",
        "security": [
          {
            "LaravelSessionCookie": [],
            "CsrfHeader": []
          }
        ],
        "responses": {
          "200": {
            "description": "Logout completed and CSRF token refreshed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "csrf_token": {
                          "type": "string"
                        }
                      }
                    },
                    "meta": {
                      "type": [
                        "object",
                        "null"
                      ]
                    },
                    "error": {
                      "type": [
                        "object",
                        "null"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/session/ping": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Keep an authenticated browser session alive",
        "security": [
          {
            "LaravelSessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "Session keepalive payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelaySessionPingResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/status": {
      "get": {
        "tags": [
          "Diagnostics"
        ],
        "summary": "Get lightweight relay heartbeat status",
        "responses": {
          "200": {
            "description": "Public relay heartbeat payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelayStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/health": {
      "get": {
        "tags": [
          "Diagnostics"
        ],
        "summary": "Get minimal relay health probe response",
        "responses": {
          "200": {
            "description": "Minimal health payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/diagnostics": {
      "get": {
        "tags": [
          "Diagnostics"
        ],
        "summary": "Get relay diagnostics",
        "responses": {
          "200": {
            "description": "Diagnostics response"
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "406": {
            "description": "Requested relay protocol version is not supported",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation or domain rule failure",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEnvelope"
                    }
                  ]
                }
              }
            }
          },
          "426": {
            "description": "Requested relay protocol version is below the minimum supported version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/compatibility": {
      "get": {
        "tags": [
          "Diagnostics"
        ],
        "summary": "Get protocol and auth compatibility metadata",
        "responses": {
          "200": {
            "description": "Compatibility response"
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "406": {
            "description": "Requested relay protocol version is not supported",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation or domain rule failure",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEnvelope"
                    }
                  ]
                }
              }
            }
          },
          "426": {
            "description": "Requested relay protocol version is below the minimum supported version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/messages": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Submit a relay message",
        "description": "Creates an outbound relay message owned by the authenticated local client. The client declares final destination hubs and consuming systems in targets[]. Relay reads the local hub id from /hub.json, injects origin/source hub identity, and computes first-hop deliveries from topology.",
        "security": [
          {
            "RelayClientKey": [],
            "RelayProtocolVersion": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocalMessageSubmitRequest"
              },
              "examples": {
                "multiTarget": {
                  "summary": "Send from hub 10 to hubs 15 and 20",
                  "value": {
                    "source_system": "sitrep.app",
                    "targets": [
                      {
                        "id": "15",
                        "systems": [
                          "city-eoc.app"
                        ]
                      },
                      {
                        "id": "20",
                        "systems": [
                          "province-eoc.app"
                        ]
                      }
                    ],
                    "message_type": "sitrep.record",
                    "payload_format": "json",
                    "payload_version": "1.0",
                    "payload": {
                      "incident_id": 123,
                      "severity": "high",
                      "description": "Flooding reported near riverside barangay."
                    },
                    "priority": "high"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Queued"
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "406": {
            "description": "Requested relay protocol version is not supported",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation or domain rule failure",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEnvelope"
                    }
                  ]
                }
              }
            }
          },
          "426": {
            "description": "Requested relay protocol version is below the minimum supported version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "List local messages",
        "description": "Returns only outbound messages owned by the authenticated local client.",
        "security": [
          {
            "RelayClientKey": [],
            "RelayProtocolVersion": []
          }
        ],
        "parameters": [
          {
            "name": "source_system",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by sender system code, for example sitrep.app.",
            "example": "sitrep.app"
          },
          {
            "name": "message_type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by exact message type, for example sitrep.record.",
            "example": "sitrep.record"
          },
          {
            "name": "priority",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by sender priority hint: low, normal, high, or urgent.",
            "example": "high"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of records to return per page.",
            "example": 25
          }
        ],
        "responses": {
          "200": {
            "description": "Message list"
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "406": {
            "description": "Requested relay protocol version is not supported",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation or domain rule failure",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEnvelope"
                    }
                  ]
                }
              }
            }
          },
          "426": {
            "description": "Requested relay protocol version is below the minimum supported version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/messages/{message}": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Get one local message",
        "description": "Returns one outbound message only when it is owned by the authenticated local client.",
        "security": [
          {
            "RelayClientKey": [],
            "RelayProtocolVersion": []
          }
        ],
        "parameters": [
          {
            "name": "message",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Relay message database id from the message list response, not the relay_id ULID."
          }
        ],
        "responses": {
          "200": {
            "description": "Message detail"
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found or not visible to the authenticated principal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteNotFoundError"
                }
              }
            }
          },
          "406": {
            "description": "Requested relay protocol version is not supported",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation or domain rule failure",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEnvelope"
                    }
                  ]
                }
              }
            }
          },
          "426": {
            "description": "Requested relay protocol version is below the minimum supported version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/inbox": {
      "get": {
        "tags": [
          "Inbox"
        ],
        "summary": "List received inbound messages",
        "description": "Returns inbound messages only when their targets[] include the authenticated local client's system_code for the local hub.",
        "security": [
          {
            "RelayClientKey": [],
            "RelayProtocolVersion": []
          }
        ],
        "parameters": [
          {
            "name": "message_type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by exact message type, for example sitrep.record.",
            "example": "sitrep.record"
          },
          {
            "name": "source_system",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by sender system code, for example sitrep.app.",
            "example": "sitrep.app"
          },
          {
            "name": "source_hub_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by HQ hub id of the sender/originating relay visible on the record.",
            "example": "10"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by workflow status, for example queued, failed, delivered, received, processed, rejected, or undeliverable depending on the endpoint.",
            "example": "failed"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of records to return per page.",
            "example": 25
          }
        ],
        "responses": {
          "200": {
            "description": "Inbox list"
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "406": {
            "description": "Requested relay protocol version is not supported",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation or domain rule failure",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEnvelope"
                    }
                  ]
                }
              }
            }
          },
          "426": {
            "description": "Requested relay protocol version is below the minimum supported version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/inbox/{message}": {
      "get": {
        "tags": [
          "Inbox"
        ],
        "summary": "Get one inbox message",
        "description": "Returns one received inbound message only when its targets[] include the authenticated local client's system_code for the local hub.",
        "security": [
          {
            "RelayClientKey": [],
            "RelayProtocolVersion": []
          }
        ],
        "parameters": [
          {
            "name": "message",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Relay message database id from the message list response, not the relay_id ULID."
          }
        ],
        "responses": {
          "200": {
            "description": "Inbox detail"
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found or not visible to the authenticated principal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteNotFoundError"
                }
              }
            }
          },
          "406": {
            "description": "Requested relay protocol version is not supported",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation or domain rule failure",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEnvelope"
                    }
                  ]
                }
              }
            }
          },
          "426": {
            "description": "Requested relay protocol version is below the minimum supported version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/deliveries": {
      "get": {
        "tags": [
          "Deliveries"
        ],
        "summary": "List deliveries",
        "description": "Returns only next-hop delivery records for outbound messages owned by the authenticated local client.",
        "security": [
          {
            "RelayClientKey": [],
            "RelayProtocolVersion": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by workflow status, for example queued, failed, delivered, received, processed, rejected, or undeliverable depending on the endpoint.",
            "example": "failed"
          },
          {
            "name": "target_hq_hub_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by immediate next-hop or target HQ hub id stored on a delivery record.",
            "example": "15"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of records to return per page.",
            "example": 25
          }
        ],
        "responses": {
          "200": {
            "description": "Delivery list"
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "406": {
            "description": "Requested relay protocol version is not supported",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation or domain rule failure",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEnvelope"
                    }
                  ]
                }
              }
            }
          },
          "426": {
            "description": "Requested relay protocol version is below the minimum supported version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/deliveries/{delivery}": {
      "get": {
        "tags": [
          "Deliveries"
        ],
        "summary": "Get one delivery",
        "description": "Returns one delivery only when its parent outbound message is owned by the authenticated local client.",
        "security": [
          {
            "RelayClientKey": [],
            "RelayProtocolVersion": []
          }
        ],
        "parameters": [
          {
            "name": "delivery",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Relay delivery database id from the delivery list response."
          }
        ],
        "responses": {
          "200": {
            "description": "Delivery detail"
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found or not visible to the authenticated principal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteNotFoundError"
                }
              }
            }
          },
          "406": {
            "description": "Requested relay protocol version is not supported",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation or domain rule failure",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEnvelope"
                    }
                  ]
                }
              }
            }
          },
          "426": {
            "description": "Requested relay protocol version is below the minimum supported version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/deliveries/{delivery}/retry": {
      "post": {
        "tags": [
          "Deliveries"
        ],
        "summary": "Retry a failed or dead delivery",
        "description": "Retries a failed or dead delivery only when its parent outbound message is owned by the authenticated local client.",
        "security": [
          {
            "RelayClientKey": [],
            "RelayProtocolVersion": []
          }
        ],
        "parameters": [
          {
            "name": "delivery",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Relay delivery database id from the delivery list response."
          }
        ],
        "responses": {
          "200": {
            "description": "Delivery requeued"
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found or not visible to the authenticated principal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteNotFoundError"
                }
              }
            }
          },
          "406": {
            "description": "Requested relay protocol version is not supported",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation or domain rule failure",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEnvelope"
                    }
                  ]
                }
              }
            }
          },
          "426": {
            "description": "Requested relay protocol version is below the minimum supported version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/deliveries/{delivery}/cancel": {
      "post": {
        "tags": [
          "Deliveries"
        ],
        "summary": "Cancel a delivery",
        "description": "Cancels a queued, sending, or failed delivery only when its parent outbound message is owned by the authenticated local client.",
        "security": [
          {
            "RelayClientKey": [],
            "RelayProtocolVersion": []
          }
        ],
        "parameters": [
          {
            "name": "delivery",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Relay delivery database id from the delivery list response."
          }
        ],
        "responses": {
          "200": {
            "description": "Delivery cancelled"
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found or not visible to the authenticated principal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteNotFoundError"
                }
              }
            }
          },
          "406": {
            "description": "Requested relay protocol version is not supported",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation or domain rule failure",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEnvelope"
                    }
                  ]
                }
              }
            }
          },
          "426": {
            "description": "Requested relay protocol version is below the minimum supported version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/messages/{message}/attachments/init": {
      "post": {
        "tags": [
          "Attachments"
        ],
        "summary": "Initialize a local attachment upload",
        "security": [
          {
            "RelayClientKey": [],
            "RelayProtocolVersion": []
          }
        ],
        "parameters": [
          {
            "name": "message",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Relay message database id from the message list response, not the relay_id ULID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttachmentInitRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Upload session initialized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentInitResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Message not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteNotFoundError"
                }
              }
            }
          },
          "406": {
            "description": "Requested relay protocol version is not supported",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation or domain rule failure",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEnvelope"
                    }
                  ]
                }
              }
            }
          },
          "426": {
            "description": "Requested relay protocol version is below the minimum supported version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "description": "Initializes an attachment upload for the route-bound message using the authenticated local client API key."
      }
    },
    "/api/v1/attachments/{attachment}/complete": {
      "post": {
        "tags": [
          "Attachments"
        ],
        "summary": "Complete an attachment upload",
        "security": [
          {
            "RelayClientKey": [],
            "RelayProtocolVersion": []
          }
        ],
        "parameters": [
          {
            "name": "attachment",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Attachment database id associated with a relay message."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadCompleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Attachment completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadCompleteResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Attachment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteNotFoundError"
                }
              }
            }
          },
          "406": {
            "description": "Requested relay protocol version is not supported",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation or domain rule failure",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEnvelope"
                    }
                  ]
                }
              }
            }
          },
          "426": {
            "description": "Requested relay protocol version is below the minimum supported version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "description": "Completes the latest upload session attached to the route-bound attachment using the authenticated local client API key."
      }
    },
    "/api/v1/uploads/{session}/chunk": {
      "post": {
        "tags": [
          "Uploads"
        ],
        "summary": "Upload a local attachment chunk",
        "security": [
          {
            "RelayClientKey": [],
            "RelayProtocolVersion": []
          }
        ],
        "parameters": [
          {
            "name": "session",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Upload session id returned by an upload initialization endpoint."
          },
          {
            "name": "chunk_index",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "description": "Zero-based chunk index. The implementation also accepts this value from form parameters."
          },
          {
            "name": "total_chunks",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Total number of chunks expected for this upload. The implementation also accepts this value from form parameters."
          },
          {
            "name": "chunk_checksum",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional SHA-256 checksum of the raw chunk bytes. The implementation also accepts this value from form parameters."
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Raw chunk bytes. Do not JSON-encode this body.",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chunk appended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadChunkResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Upload session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteNotFoundError"
                }
              }
            }
          },
          "406": {
            "description": "Requested relay protocol version is not supported",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation or domain rule failure",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEnvelope"
                    }
                  ]
                }
              }
            }
          },
          "426": {
            "description": "Requested relay protocol version is below the minimum supported version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "description": "Uploads one raw binary chunk for a local attachment upload session. Metadata is accepted as request parameters; the raw HTTP body is stored as the chunk bytes."
      }
    },
    "/api/v1/uploads/{session}/complete": {
      "post": {
        "tags": [
          "Uploads"
        ],
        "summary": "Complete a local upload session",
        "security": [
          {
            "RelayClientKey": [],
            "RelayProtocolVersion": []
          }
        ],
        "parameters": [
          {
            "name": "session",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Upload session id returned by an upload initialization endpoint."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadCompleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadCompleteResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Upload session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteNotFoundError"
                }
              }
            }
          },
          "406": {
            "description": "Requested relay protocol version is not supported",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation or domain rule failure",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEnvelope"
                    }
                  ]
                }
              }
            }
          },
          "426": {
            "description": "Requested relay protocol version is below the minimum supported version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "description": "Assembles and verifies a local upload session."
      }
    },
    "/api/v1/uploads/{session}": {
      "get": {
        "tags": [
          "Uploads"
        ],
        "summary": "Get local upload session status",
        "security": [
          {
            "RelayClientKey": [],
            "RelayProtocolVersion": []
          }
        ],
        "parameters": [
          {
            "name": "session",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Upload session id returned by an upload initialization endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Upload status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadStatus"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Upload session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteNotFoundError"
                }
              }
            }
          },
          "406": {
            "description": "Requested relay protocol version is not supported",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation or domain rule failure",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEnvelope"
                    }
                  ]
                }
              }
            }
          },
          "426": {
            "description": "Requested relay protocol version is below the minimum supported version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "description": "Returns current status for a local upload session."
      }
    },
    "/api/v1/handlers": {
      "get": {
        "tags": [
          "Handlers"
        ],
        "summary": "List handlers for the authenticated client",
        "security": [
          {
            "RelayClientKey": [],
            "RelayProtocolVersion": []
          }
        ],
        "responses": {
          "200": {
            "description": "Handler list"
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "406": {
            "description": "Requested relay protocol version is not supported",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation or domain rule failure",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEnvelope"
                    }
                  ]
                }
              }
            }
          },
          "426": {
            "description": "Requested relay protocol version is below the minimum supported version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Handlers"
        ],
        "summary": "Create a handler",
        "security": [
          {
            "RelayClientKey": [],
            "RelayProtocolVersion": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HandlerRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Handler created"
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "406": {
            "description": "Requested relay protocol version is not supported",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation or domain rule failure",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEnvelope"
                    }
                  ]
                }
              }
            }
          },
          "426": {
            "description": "Requested relay protocol version is below the minimum supported version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/handlers/{handler}": {
      "patch": {
        "tags": [
          "Handlers"
        ],
        "summary": "Update a handler",
        "security": [
          {
            "RelayClientKey": [],
            "RelayProtocolVersion": []
          }
        ],
        "parameters": [
          {
            "name": "handler",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Local handler database id."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HandlerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Handler updated"
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found or not visible to the authenticated principal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteNotFoundError"
                }
              }
            }
          },
          "406": {
            "description": "Requested relay protocol version is not supported",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation or domain rule failure",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEnvelope"
                    }
                  ]
                }
              }
            }
          },
          "426": {
            "description": "Requested relay protocol version is below the minimum supported version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Handlers"
        ],
        "summary": "Deactivate a handler",
        "security": [
          {
            "RelayClientKey": [],
            "RelayProtocolVersion": []
          }
        ],
        "parameters": [
          {
            "name": "handler",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Local handler database id."
          }
        ],
        "responses": {
          "200": {
            "description": "Handler deactivated"
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found or not visible to the authenticated principal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteNotFoundError"
                }
              }
            }
          },
          "406": {
            "description": "Requested relay protocol version is not supported",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation or domain rule failure",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEnvelope"
                    }
                  ]
                }
              }
            }
          },
          "426": {
            "description": "Requested relay protocol version is below the minimum supported version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/handler-dispatches": {
      "get": {
        "tags": [
          "Handler Dispatches"
        ],
        "summary": "List handler dispatch attempts",
        "security": [
          {
            "RelayClientKey": [],
            "RelayProtocolVersion": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by workflow status, for example queued, failed, delivered, received, processed, rejected, or undeliverable depending on the endpoint.",
            "example": "failed"
          },
          {
            "name": "handler_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter dispatches by local handler database id.",
            "example": "01J00000000000000000000000"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of records to return per page.",
            "example": 25
          }
        ],
        "responses": {
          "200": {
            "description": "Dispatch list"
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "406": {
            "description": "Requested relay protocol version is not supported",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation or domain rule failure",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEnvelope"
                    }
                  ]
                }
              }
            }
          },
          "426": {
            "description": "Requested relay protocol version is below the minimum supported version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/handler-dispatches/{dispatch}": {
      "get": {
        "tags": [
          "Handler Dispatches"
        ],
        "summary": "Get one handler dispatch",
        "security": [
          {
            "RelayClientKey": [],
[...]
